/* main {
  color: var(--black);
  width: calc(100vw - (100vw - 100%));
  background-color: var(--yellow);
  min-height: calc(100vh - var(--nav-height));
} */

/* .connectionStatus {
  padding-top: 20px;
  margin-left: 5%;
  font-size: 1.5em;
}

.subscriber {
  margin-left: 10%;
}

.publisher {
  display: flex;
  flex-direction: column;
}

.OTPublisherContainer {
  width: 90%;
  height: 90%;
}

#error {
  color: red;
}
  */