:root {
	/* colors */
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --brown: rgb(144, 93, 73);
  --beige: rgb(252, 235, 183);
  --blue: rgb(120, 192, 168);
  --orange: rgb(244, 127, 73);
  --yellow: rgb(246, 197, 98);
  --green: rgb(119, 158, 104);
  --green-dark: rgb(76, 94, 55);


  --primary: var(--orange);
  --secondary: var(--green);
  --tertiary: var(--brown);
  --background: var(--yellow);

	/* default sizing */
	--lg-container: 1000px;
	--sm-container: 400px;
	--nav-height: 60px;
}

@font-face {
  font-family: 'uomouploaded_file';
  src: url('uomo-webfont.woff2') format('woff2'),
       url('uomo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'uomouploaded_file','Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
